* {
    box-sizing: border-box; 
    font-size: 0px;
}
.container > div {
    display: grid;

    color: lawngreen;
}

html, body {
    background-color: #eee9; margin: 10px;
    }
    * {
        box-sizing: border-box;   /* needed for ALL */
    }
    
    .box1 {
        height: 140px;
        width: 796px;
        background-color:  #F5C6D6;
        margin-top: 50px;
        margin-left: 0px;
        margin-right: 25%;
    }
    
    .box2  {
        height: 140px;
        width: 190px;
        background-color: #EE2E84;
        margin-top: 12px;
        margin-right: 12px;
        display: inline-block; 
    
    }
    .box3 {
        height: 140px;
        width: 190px;
        background-color: #EE2E84;
        margin-top: 12px;
        margin-right: 12px;
        display: inline-block;
    }
    .box4 {
        height: 140px;
        width: 190px;
        background-color:  #EE2E84;
        margin-top: 12px;
        margin-right: 12px;
        display: inline-block;
    
    }
    .box5 {
        height: 140px;
        width: 190px;;
        background-color:  #EE2E84;
        margin-top: 12px;
        margin-right: 12px;
        display: inline-block;
    }
    .box6 {
        height: 140px;
        width: 392px;
        background-color:  #85CFD8;
        margin-top: 12px; 
        margin-right: 12px;
        display: inline-block;
    }
    .box7 {
        height: 140px;
        width: 392px;
        background-color:  #85CFD8;
        margin-top: 12px;
        display: inline-block;
    }
    .box8 {
        height: 140px;
        width: 580px;
        background-color:  #8DC63F;
        margin-top: 12px;
        margin-right: 12px;
        display: inline-block;
    }
    .box9 {
        height: 140px;
        width: 204px;
        background-color:  #E76E34;
        margin-top: 12px;
        display: inline-block; 
    }  
.row2 {
        display: inline;





}